body {
    font-family: monospace;
    color: #EAE8FF;
    background: #161616;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: #980056;
    background: linear-gradient(45deg, #980056 0%, #3E1A67 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.content{
    text-align:justify; 
    width:50%;
    margin:auto;
}

.blogpreview {
    display: inline-block;
    margin-right: 30px; /* Adjust the margin as needed for spacing */
    width: 40%;
  }


.contentHome{ 
    width:50%;
    margin:auto;
}

a, a:visited {
    /* Add your styling for visited links here */
    color: inherit; /* Example: Keep the same color as the normal link */
    text-decoration: none; /* Example: Remove underline for visited links */
}


.blogs {
    display: flex;
}

.blogpreview {
    flex: 1;
    margin: 0 10px; /* Adjust margin as needed for spacing between the blog previews */
    text-align: center; /* Center align content */
}

.blogpreview img {
    width: 50%; /* Make sure the image takes the full width of the parent container */
}

.blogpreview p {
    margin-top: 10px; /* Adjust margin as needed for spacing between the title and the text */
}
